<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reservar Estacionamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="">Reporte de Pagos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let pag of pagos">
    <ion-card-header>
      <ion-card-subtitle>FECHA</ion-card-subtitle>
      <ion-card-title>{{pag.fecha}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      BANCO: {{pag.banco}}<br>
      NRO CUENTA: {{pag.nroCuenta}}<br>
      TIPO DE CUENTA: {{pag.tipoCuenta}}<br>
      MONTO: {{pag.monto}}
    </ion-card-content>
  </ion-card>
  <ion-button color='danger' (click)="volverADueno()">Volver al Menú</ion-button>