<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" id="comuna-title">
      Estacionamientos Disponibles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Lista de comunas -->
    <ion-item *ngFor="let est of estacionamientos">
      <ion-label>
      <strong>Dirección: </strong>{{est.direccion}} <br>
      <strong>Estado: </strong>{{est.disponibilidad}} <br>
      <strong>Valor por Minuto </strong>${{est.valorPorHora}} <br>
    </ion-label>
    </ion-item>
  </ion-list>

  <!-- Botón para volver a la página Home -->
  <ion-button expand="full" color="medium" (click)="volverAHome()">Volver a Home</ion-button>
</ion-content>
