<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">MI PERFIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-label><strong>Nombre:</strong> {{cliente.nombre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>RUT:</strong> {{cliente.rut}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Correo:</strong> {{cliente.email}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label><strong>Banco:</strong> {{cliente.cuentaBancaria.banco}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Tipo de Banco:</strong> {{cliente.cuentaBancaria.tipoCuenta}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>N° de Cuenta:</strong> {{cliente.cuentaBancaria.nroCuenta}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="full" color="danger" (click)="volverCliente()">Volver a Menú Cliente</ion-button>
</ion-content>