<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">MI PERFIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Agregar/Editar Tarjeta:</ion-label>
    <ion-input type="number" [(ngModel)]="miVariable" maxlength="16" minLength="16"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="editarVariable()">Guardar</ion-button>
  <ion-button expand="full" color="danger" (click)="volverCliente()">Volver a Menú Cliente</ion-button>
</ion-content>
