<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Mi Estacionamiento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <img src="https://cdn-icons-png.flaticon.com/512/2343/2343894.png" alt="Descripción de la imagen" class="center-image">
  <ion-button expand="full" color="danger" (click)="irAInicioSesionCliente()">Iniciar como Cliente</ion-button>
  <ion-button expand="full" color="danger" (click)="irAInicioSesionDueno()">Iniciar como Dueño</ion-button>
  <ion-button expand="full" color="danger" (click)="irARegistro()">Registrarse</ion-button>
  <ion-button expand="full" color="success" (click)="irAConsultarEstacionamientos()">Consultar Estacionamientos</ion-button>
</ion-content>
