<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">PERFIL DE: {{cliente.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" alt="Descripción de la imagen" class="center-image">
  <ion-button expand="full" color="danger" (click)="irPerfilCliente()">Mi Perfil</ion-button>
  <ion-button expand="full" color="primary" (click)="irReservarEstacionamiento()">Reservar Estacionamiento</ion-button>
  <ion-button expand="full" color="primary" (click)="irHistorialEstacionamientos()">Ver últimos arriendos</ion-button>
  <ion-button expand="full" color="primary"(click)="irCalificarEstacionamiento()">Calificar Último Estacionamiento</ion-button>
  <ion-button expand="full" color="danger" (click)="cerrarSesion()">Cerrar Sesión</ion-button>
</ion-content>
